# Output Generation

{{ toc }}

## Templates

Templates use Go {{ stdpkg "text/template" }} syntax. The data structure passed
to the template is:

```go
{{ snippet "internal/gen/gen.go" "type Data" "^}" -}}
```

In addition to the [builtin functions]({{ stdpkgurl "text/template" }}#hdr-Functions),
templates may use:

{{ range .TemplateFunctions }}
**`{{ .Name }}`** `{{ .Signature }}`: {{ .Description }}
{{ end }}

## Builtin Templates

{{ range .BuiltinTemplateNames }}

### {{ . }}

```
{{ include (printf "internal/gen/templates/%s.tmpl" .) -}}
```

<details>
<summary>Output of <code>{{ . }}</code> template</summary>

```
{{ include (printf "internal/gen/testdata/builtin/%s.golden" .) -}}
```

</details>

{{ end }}
