package fp25519

func (z *Elt) Inv(x *Elt) *Elt {
	var (
		{{- range .Program.Temporaries }}
		{{ . }} = new(Elt)
		{{- end -}}
	)

	{{ range $i := .Program.Instructions -}}
	{{- with add $i.Op }}
	{{ $i.Output }}.Mul({{ .X }}, {{ .Y }})
	{{ end -}}

	{{- with double $i.Op }}
	{{ $i.Output }}.Sqr({{ .X }})
	{{ end -}}

	{{- with shift $i.Op -}}
	{{- $first := 0 -}}
	{{- if ne $i.Output.Identifier .X.Identifier }}
	{{ $i.Output }}.Sqr({{ .X }})
	{{- $first = 1 -}}
	{{- end }}
	for s := {{ $first }}; s < {{ .S }}; s++ {
		{{ $i.Output }}.Sqr({{ $i.Output }})
	}
	{{ end -}}
	{{- end }}
	return z
}
