on:
  schedule:
    - cron: '42 10 * * 3'

name: stress
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v1
    - name: Stress Test
      run: go test -stress -timeout=0 -coverprofile=coverage.out -covermode=set
    - name: Upload Coverage
      uses: codecov/codecov-action@v1.0.5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: coverage.out
        flags: stress
